/* Body width 1170px solo per accentrare tag h4 */
body {
    width: 1170px;
    margin: 0 auto;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.row3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.row4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.row5 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.height-row {
    height: 50px;
    text-align: center;
    color: white;
    font-size: 10px;
}

.height-row2 {
    height: 100px;
    text-align: center;
    color: white;
    font-size: 10px;
}

.height {
    height: 30px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: rgb(55, 215, 55);
}

.padding {
    padding: 8px 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.border {
    border: 1px solid white;
}

.border-blue {
    border: 1px solid blue;
}

.mb-20 {
    margin-bottom: 20px;
}